# Python ETL

## Syntax Introduction

1. pritimiives
1. collections
1. control flow
1. functions
1. simple programs

### Why python?

* it is cool

In [1]:
# This is a Python comment
"""
This can be used 
as a 
multi line comment
"""

'\nThis can be used \nas a \nmulti line comment\n'

In [3]:
# strings
"Hello, world"
'Hello, again'
"""Hell'o "world"""
'''Hello world'''

'Hello world'

In [4]:
mystr = "Hello, world"

In [5]:
mystr

'Hello, world'

In [6]:
1 + 1

2

In [7]:
2 - 1

1

In [8]:
2 * 2

4

In [10]:
4 / 2

2.0

In [11]:
2 ** 3

8

In [13]:
# mod
10 % 3

1

In [14]:
True

True

In [15]:
False

False

In [16]:
not True

False

In [17]:
not False

True

In [20]:
True and False

False

In [21]:
False or True

True

In [22]:
1 == 1

True

In [23]:
2 == 1

False

In [24]:
1 != 1

False

In [25]:
1 > 2

False

In [27]:
2 >= 2

True

In [33]:
name = "David"
print(name)

David

In [34]:
"[Info] username is " + "Ian"

'[Info] username is Ian'

In [35]:
"[Info] username is " + name

'[Info] username is David'

In [36]:
"[Info] Today's temperature is " + 75

TypeError: must be str, not int

In [39]:
"[Info] Today's temperature is %sF"%75

"[Info] Today's temperature is 75F"

In [40]:
"[Info] Today's temperature is {}F".format(75)

"[Info] Today's temperature is 75F"

In [42]:
"[Info] Today's temperature in %s is %sF"%("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F"

In [41]:
"[Info] Today's temperature in {} is {}F".format("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F"

In [43]:
"[Info] Today's temperature in {0} is {1}F, Tomorrow is {1}F".format("Taoyuan", 75)

"[Info] Today's temperature in Taoyuan is 75F, Tomorrow is 75F"

In [44]:
"[Info] Today's temperature in {city} is {temp}F, Tomorrow is {temp}F".format(city="Taoyuan", temp=75)

"[Info] Today's temperature in Taoyuan is 75F, Tomorrow is 75F"

In [45]:
len("hello")

5

In [1]:
len("你好")

2

In [3]:
# Collections
[]

[]

In [4]:
[1]

[1]

In [5]:
[1,2,3,4]

[1, 2, 3, 4]

In [6]:
['nice', 1]

['nice', 1]

In [62]:
students = []

In [63]:
students.append("Ian")

In [64]:
students

['Ian']

In [65]:
students.append("David")

In [66]:
students

['Ian', 'David']

In [67]:
students.insert(0, "Brian")

In [68]:
students

['Brian', 'Ian', 'David']

In [69]:
students.pop()

'David'

In [70]:
students

['Brian', 'Ian']

In [71]:
del students[1]

In [72]:
students

['Brian']

In [73]:
students.append('Ian')

In [74]:
students

['Brian', 'Ian']

In [75]:
students[1]

'Ian'

In [76]:
students[0]

'Brian'

In [77]:
students[-1]

'Ian'

In [78]:
students[0] = "John"

In [79]:
students

['John', 'Ian']

In [80]:
students.append("Batman")

In [81]:
students.extend(["Spiderman", "Ironman"])

In [82]:
students

['John', 'Ian', 'Batman', 'Spiderman', 'Ironman']

In [83]:
# list[start:end:step]

In [84]:
students[1:3]

['Ian', 'Batman']

In [85]:
students[1:]

['Ian', 'Batman', 'Spiderman', 'Ironman']

In [86]:
students[:3]

['John', 'Ian', 'Batman']

In [87]:
students[::2]

['John', 'Batman', 'Ironman']

In [88]:
students[::-1]

['Ironman', 'Spiderman', 'Batman', 'Ian', 'John']

In [89]:
students[1:4:2]

['Ian', 'Spiderman']

In [90]:
"Ian" in students

True

In [101]:
is_in_class = "Spiderman" in students

In [92]:
"wonder woman" in students

False

In [93]:
record = ("Ian", "python", "engineer")

In [94]:
record[1]

'python'

In [105]:
# Dictionary
student_dict = {"name": "Ian",
                "job": "Teacher",
                "skills": ["python", "ruby", "javascript", "postgresql"]}

In [104]:
student_dict['name']

'Ian'

In [106]:
student_dict['job']

'Teacher'

In [107]:
student_dict['name'] = "Daivd"

In [108]:
student_dict

{'job': 'Teacher',
 'name': 'Daivd',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [109]:
del student_dict['name']

In [110]:
student_dict

{'job': 'Teacher', 'skills': ['python', 'ruby', 'javascript', 'postgresql']}

In [111]:
student_dict['name'] = "Brian"

In [112]:
student_dict

{'job': 'Teacher',
 'name': 'Brian',
 'skills': ['python', 'ruby', 'javascript', 'postgresql']}